.bar-chart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.progress-bar-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
}
.progress-bar {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.progress-bar--outer {
  height: 20px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-color: #f1f1f1;
  flex: 1;
}
.bar-chart__number {
  font-weight: 600;
  font-size: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 1rem;
}
.bar-chart__percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.progress-bar__label {
  width: 100%;
  font-size: 16px;
  margin-top: -5px;
}